# Общие настройки
[Bb]in/
[Oo]bj/
*.user
*.suo
*.vspscc
*.vssscc
.vscode/
.vs/
*.sln.docstates

# Rider
.idea/
*.sln.iml

# Windows
[Tt]humbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Временные файлы
*.tmp
*.temp
*.log
*.vs
*.ncb
*.sdf
*.opensdf
*.cache
*.pdb

# Visual Studio Code
.vscode/

# Rider
.idea/
*.sln.iml

# DotNet
project.lock.json
project.fragment.lock.json
artifacts/

# NUNIT
*.VisualState.xml
TestResult.xml

# MSTest
*.testresults

# Build Results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]ssets.buildinfo
[Dd]ebugPublic/
[Rr]eleasePublic/
[Rr]eleases/
[Bb]uild/

# Web
wwwroot/
node_modules/

# Работа с БД
*.mdf
*.ldf
*.ndf

# Azure
.localhistory/
.redgate/

# Paket
paket-files/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# StyleCop
StyleCopReport.xml

# Кабинеты разработки
.vscode/

# Бэкапы
*.bak
*.sql
*.swp
*.bak